<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cart.css" />
</head>

<body>
    <header class="">
        <!-- Searchbar -->
        <%- include("partials/header2") %>
        <!-- ProductCart toggler -->
        <%- include("partials/headerCart") %>
    </header>

    <main class="bg-white-10">
        <!-- Cart items, need dynamic response -->
        <nav class="container carrito-cont">
            <div class="row justify-content-center">
                <!-- HERE BE ITERATIONS & USER INFO -->
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>

            </div>
        </nav>
        <!-- Menú de compra del carrito -->
        <nav class="container cart-footer bg-primary">
            <%- include("partials/compra-carrito") %>
        </nav>

    </main>

    <nav></nav>
    <%- include("partials/footer") %>
</body>

</html>