<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
</head>

<body>
    <header class="">
        <!-- Searchbar -->
        <%- include("partials/header") %>
        <!-- ProductCart toggler -->
        <%- include("partials/headerCart") %>
    </header>

    <main class="bg-white-10">
        <!-- Cart items, need dynamic response -->
        <nav class="container carrito-cont">
            <div class="row justify-content-center">
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>
                <%- include("partials/producto-carrito") %>

            </div>
        </nav>
        <nav class="container cart-footer bg-primary">
            <div class="column">
                <p class="info">Información:<span class="info-money">$1.203</span></p>
                <p class="info">Información:<span class="info-money">$263</span></p>
                <h2 class="total">Total <span class="total-money">$1.466</span></h2>
                <button type="button" class="btn btn-secondary">Continuar compra</button>
            </div>
        </nav>

    </main>

    <nav></nav>
</body>

</html>