<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/productoD.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <!-- <SPACE%- include("partials/producto") %> -->
        <h3>Producto: <%- product.nombre %>. </h3>
        <p>Quedan: <%- product.stock %>. </p>
        <p>Cuestan: $<%- product.precio %> cada uno.</p>
        <p>Es de la categoría: <%- product.categorias.categoria %>.</p>
        <% switch (product.id_categoria) { case 2:%>
            
        <% ;break;case 1:%>
            <p>Es tipo ab!!</p>
        <% } %>
    </main>

    <nav></nav>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>