<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/stylesheets/cart.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
  <header>
    <%- include("partials/header2") %>
  </header>

  <main>
    <div id="principal">
      <h1 class="text-center titular">Mageek!</h1>
      <p class="text-center slogan">La mejor geek sotre del pais!!!!</p>
    </div>
    <nav class="container carrito-cont">
      <div class="row justify-content-center col-sm-3">
        <%- include("partials/producto-carrito") %>
      </div>
            <div class="row justify-content-center col-sm-3">
        <%- include("partials/producto-carrito") %>
      </div>
            <div class="row justify-content-center col-sm-3">
        <%- include("partials/producto-carrito") %>
      </div>
            <div class="row justify-content-center col-sm-3">
        <%- include("partials/producto-carrito") %>
      </div>
    </nav>
  </main>

  <nav></nav>

  <footer><%- include("partials/footer") %></footer>
</body>

</html>