<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <!-- <link rel="stylesheet" href="/stylesheets/cart.css" /> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/user.css" />
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <h1 class="">Bienvenid@ <%- user.nombre %> </h1>

        <form name="logout" method="post" action="/user/logout">
            <label for="logoutB">
                <input name="logoutB" type="submit" id="logoutB" value="logout">
            </label>
        </form>
        <p>
            `nombre_de_usuario`: <%- user.nombre_de_usuario %>
            `password`: <%- user.password %>
            `apellido`: <%- user.apellido %>
        </p>
        <a href="/user/edit">
        <button class="btn btn-success">Edit user</button></a>

    </main>

    <footer><%- include("partials/footer") %></footer>
</body>

</html>